tensorflow~=2.13.0
numpy~=1.24.3
scikit-learn~=1.3.2
keras~=2.13.1
librosa~=0.10.1
matplotlib~=3.7.4
seaborn~=0.13.2
torch~=2.2.0
torchvision~=0.17.0
resampy~=0.4.2
hmmlearn~=0.3.0
joblib~=1.3.2
sns~=0.1
pandas~=2.0.3
audformat~=1.1.2
audeer~=2.0.0
pillow~=10.2.0